.trending {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.trending .media {
  transition: transform 0.3s ease, outline 0.3s ease;
}

.trending .media:hover {
  transform: scale(1.05);
  outline: 2px solid white;
}

@media (max-width: 600px) {
  .trending {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 601px) and (max-width: 700px) {
  .trending {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 701px) and (max-width: 1024px) {
  .trending {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1025px) {
  .trending {
    grid-template-columns: repeat(4, 1fr);
  }
}
