.search {
  display: flex;
  width: 40%;
  margin-left: auto;
  margin-right: 20px;
}

@media (min-width: 2330px) {
  .search {
    margin-top: 20px;
  }
}

@media (max-width: 900px) {
  .search {
    width: 100%;
  }
}
