.header {
  cursor: pointer;

  display: flex;
  justify-content: left;
  text-transform: uppercase;
  background-color: #10203f;
  font-family: "Montserrat", sans-serif;
  font-size: 5vw;
  padding: 15px;

  color: white;
  z-index: 45vh;
}

@media (max-width: 1000px) {
  .header {
    padding-top: 15px;
    font-size: 6.4vw;
  }
}
